<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'PurpleLoops',
});
</script>

<template>
  <div ref="purple-loops" class="purple-loops">
    <svg
      width="780"
      height="637"
      viewBox="0 0 780 637"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M392.669 549.916C388.412 542.681 385.018 534.542 382.481 525.637"
        stroke="url(#paint0_linear_463_5312)"
        stroke-width="0.813486"
      />
      <path
        d="M701.922 239.096C708.95 293.054 690.886 366.537 648.836 437.003C581.553 549.752 478.333 612.085 418.286 576.231C415.724 574.702 413.281 573.016 410.959 571.184"
        stroke="url(#paint1_linear_463_5312)"
        stroke-width="0.813486"
      />
      <path
        d="M678.515 181.731C673.697 176.287 668.173 171.653 661.94 167.93C657.465 165.257 650.967 162.423 645.922 161.121"
        stroke="url(#paint2_linear_463_5312)"
        stroke-width="0.813486"
      />
      <path
        d="M327.179 559.889C323.612 547.494 321.438 533.299 320.852 517.182"
        stroke="url(#paint3_linear_463_5312)"
        stroke-width="0.813486"
      />
      <path
        d="M709.379 214.277C729.717 217.565 746.964 225.953 759.553 239.817C808.196 293.378 761.126 400.54 671.705 496.67C568.69 607.413 406.92 673.826 345.482 596.683"
        stroke="url(#paint4_linear_463_5312)"
        stroke-width="0.813486"
      />
      <path
        d="M625.447 223.853C644.585 217.53 663.042 213.826 680.16 212.902"
        stroke="url(#paint5_linear_463_5312)"
        stroke-width="0.813486"
      />
      <path
        d="M611.214 159.941C595.457 163.743 580.287 169.956 566.387 178.291"
        stroke="url(#paint6_linear_463_5312)"
        stroke-width="0.813486"
      />
      <path
        d="M165.337 167.466C182.804 71.3934 223.38 4.74748 275.105 0.983633C312.319 -1.72419 348.536 28.6135 377.537 80.3112"
        stroke="url(#paint7_linear_463_5312)"
        stroke-width="0.813486"
      />
      <path
        d="M156.459 251.519C156.944 238.364 157.808 225.5 159.034 212.988"
        stroke="url(#paint8_linear_463_5312)"
        stroke-width="0.813486"
      />
      <path
        d="M205.061 529.31C180.834 475.755 163.524 405.894 157.912 328.716C157.105 317.614 156.56 306.625 156.264 295.781"
        stroke="url(#paint9_linear_463_5312)"
        stroke-width="0.813486"
      />
      <path
        d="M353.562 624.852C343.421 631.365 332.622 635.211 321.287 636.037C283.062 638.817 245.889 606.736 216.507 552.45"
        stroke="url(#paint10_linear_463_5312)"
        stroke-width="0.813486"
      />
      <path
        d="M272.502 555.968C206.681 557.179 120.453 494.029 60.5126 394.186C-13.2587 271.303 -19.2682 139.373 47.0881 99.5122C73.4328 83.6877 107.224 84.7531 143.01 99.4807"
        stroke="url(#paint11_linear_463_5312)"
        stroke-width="0.813486"
      />
      <defs>
        <linearGradient
          id="paint0_linear_463_5312"
          x1="381.786"
          y1="544.864"
          x2="390.156"
          y2="530.85"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#7759C2" />
          <stop offset="1" stop-color="#A989F5" />
        </linearGradient>
        <linearGradient
          id="paint1_linear_463_5312"
          x1="467.114"
          y1="606.882"
          x2="690.262"
          y2="233.262"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#7759C2" />
          <stop offset="1" stop-color="#A989F5" />
        </linearGradient>
        <linearGradient
          id="paint2_linear_463_5312"
          x1="659.979"
          y1="172.638"
          x2="662.12"
          y2="169.054"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#7759C2" />
          <stop offset="1" stop-color="#A989F5" />
        </linearGradient>
        <linearGradient
          id="paint3_linear_463_5312"
          x1="313.148"
          y1="545.63"
          x2="331.461"
          y2="529.002"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#7759C2" />
          <stop offset="1" stop-color="#A989F5" />
        </linearGradient>
        <linearGradient
          id="paint4_linear_463_5312"
          x1="379.91"
          y1="636.099"
          x2="784.848"
          y2="268.398"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#7759C2" />
          <stop offset="1" stop-color="#A989F5" />
        </linearGradient>
        <linearGradient
          id="paint5_linear_463_5312"
          x1="632.996"
          y1="233.679"
          x2="668.758"
          y2="201.206"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#7759C2" />
          <stop offset="1" stop-color="#A989F5" />
        </linearGradient>
        <linearGradient
          id="paint6_linear_463_5312"
          x1="566.031"
          y1="177.452"
          x2="610.933"
          y2="158.97"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#7759C2" />
          <stop offset="1" stop-color="#A989F5" />
        </linearGradient>
        <linearGradient
          id="paint7_linear_463_5312"
          x1="277.019"
          y1="159.352"
          x2="265.496"
          y2="0.966377"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#7759C2" />
          <stop offset="1" stop-color="#A989F5" />
        </linearGradient>
        <linearGradient
          id="paint8_linear_463_5312"
          x1="161.979"
          y1="251.108"
          x2="159.195"
          y2="212.855"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#7759C2" />
          <stop offset="1" stop-color="#A989F5" />
        </linearGradient>
        <linearGradient
          id="paint9_linear_463_5312"
          x1="191.728"
          y1="530.472"
          x2="174.553"
          y2="294.405"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#7759C2" />
          <stop offset="1" stop-color="#A989F5" />
        </linearGradient>
        <linearGradient
          id="paint10_linear_463_5312"
          x1="291.534"
          y1="638.887"
          x2="284.877"
          y2="547.397"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#7759C2" />
          <stop offset="1" stop-color="#A989F5" />
        </linearGradient>
        <linearGradient
          id="paint11_linear_463_5312"
          x1="57.1934"
          y1="389.325"
          x2="248.489"
          y2="274.465"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#7759C2" />
          <stop offset="1" stop-color="#A989F5" />
        </linearGradient>
      </defs>
    </svg>
  </div>
</template>

<style lang="scss" scoped>
.purple-loops {
  position: absolute;
  left: -7.2%;
  top: -21.6%;
  width: 115%;
  svg {
    width: 100%;
    height: 100%;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
</style>
