<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import {
  CTA as CallToAction,
  FreeTrialCTA,
  NextStep,
  SecurityNoticeForm,
  Copy,
  CopyMedia,
} from '../../components/common/index.vue';
import {
  CopyAbout,
  CopyMission,
  CopyNumbers,
  LearnMoreCards,
  Teamops,
  Timeline,
  PreferencesForm,
} from '../../components/company/index.vue';
import { Showcase } from '../../components/devsecops/index.vue';
import { getPageMetadata } from '~/common/meta';
import { SolutionsHero as Hero } from '~/components/solutions/index.vue';

export default Vue.extend({
  name: 'Company',
  components: {
    CallToAction,
    CopyAbout,
    CopyMission,
    CopyNumbers,
    Copy,
    CopyMedia,
    FreeTrialCTA,
    NextStep,
    LearnMoreCards,
    Showcase,
    Teamops,
    Timeline,
    Hero,
    PreferencesForm,
    SecurityNoticeForm,
  },
  async asyncData({ $content, i18n }: any) {
    const locale = i18n.locale === i18n.defaultLocale ? '' : i18n.locale;

    const company = await $content(locale, 'company/index').fetch();
    return { company };
  },

  head(): MetaInfo {
    return getPageMetadata(
      (this as any).company,
      this.$route.path,
      this.$nuxtI18nHead({ addSeoAttributes: true }),
    );
  },
});
</script>

<template>
  <div>
    <SlpColumn>
      <component
        :is="component.name"
        v-for="(component, i) in company.components"
        :key="i"
        :data="component.data"
      />
    </SlpColumn>
    <SlpContainer variant="gradient">
      <NextStep />
    </SlpContainer>
  </div>
</template>
