<script>
export default {
  name: 'BackgroundWrapper',
};
</script>

<template>
  <div class="background-wrapper">
    <slot></slot>
  </div>
</template>

<style scoped>
.background-wrapper {
  background-color: #171321;
  color: #ffffff;

  background-image: url('/nuxt-images/why-gitlab/background-left.svg'),
    url('/nuxt-images/why-gitlab/background-right.svg');
  background-repeat: repeat-y, repeat-y;
  background-size: 135vw auto, 135vw auto;
  background-position: 0% 125vh, 100% 0%;

  @media screen and (min-width: 1024px) {
    background-position: 0% 100vh, 100% 0%;
  }
}
</style>
