<script lang="ts">
import Vue from 'vue';
import { getPageMetadata } from '../../common/meta';
import { NextStep } from '../../components/common/index.vue';
import {
  LightningHero,
  Intro,
  Section,
  EventsSchedule,
  SpeakerSession,
  Careers,
  Conduct,
} from '../../components/events/index.vue';
import { KubeconLightingTalk } from '../../components/events/kubecon/index.vue';
import { CONTENT_TYPES } from '../../common/content-types';
import { getClient } from '~/plugins/contentful.js';
import {
  standardEventsDataHelper,
  EventData,
} from '~/services/events/events.service';

export default Vue.extend({
  components: {
    LightningHero,
    Intro,
    Section,
    KubeconLightingTalk,
    EventsSchedule,
    SpeakerSession,
    Careers,
    Conduct,
    NextStep,
  },
  nuxtI18n: false,
  async asyncData({ params }: any) {
    const eventSlug = params.slug;
    const content: EventData = await getClient()
      .getEntries({
        content_type: CONTENT_TYPES.EVENT,
        include: 10,
        'fields.slug': eventSlug,
      })
      .then((query: any) => {
        const entryFields = query.items[0]?.fields;
        return standardEventsDataHelper(entryFields);
      })
      .catch(console.error);
    return { content };
  },
  data() {
    return {
      icons: [
        'bulb-bolt-96px',
        'code-96px',
        'celebrate-icon_celebrate-96px',
        'tee-96px',
      ],
    };
  },
  head() {
    return getPageMetadata((this as any).content.metadata, this.$route.path);
  },
});
</script>

<template>
  <div>
    <LightningHero v-if="content.hero" :data="content.hero" :icons="icons" />
    <Intro v-if="content.description" :data="content.description" />
    <div v-if="content.booth">
      <Section
        v-for="(item, index) in content.booth"
        :key="item.header"
        :class="{ reverse: index % 2 !== 0 }"
        class="slp-pb-32"
        :data="item"
      />
    </div>
    <div v-if="content.featuredContent">
      <KubeconLightingTalk
        v-for="feature in content.featuredContent"
        :key="feature.header"
        :data="feature"
      />
    </div>
    <div v-if="content.social">
      <Section
        v-for="socialEvent in content.social"
        :key="socialEvent.header"
        :has-gradient="true"
        :icon="'celebrate-24px'"
        class="slp-py-160"
        :data="socialEvent"
      />
    </div>
    <EventsSchedule v-if="content.agenda" :data="content.agenda" />
    <div v-if="content.sessions">
      <SpeakerSession
        v-for="(session, sessionIndex) in content.sessions"
        :key="sessionIndex"
        :data="session"
      />
    </div>

    <Careers v-if="content.careers" :data="content.careers" />

    <div v-if="content.footnote">
      <Conduct
        v-for="footnote in content.footnote"
        :key="footnote.header"
        :data="footnote"
      />
    </div>
    <NextStep :variant="1" />
  </div>
</template>
