<script>
import EventNavigationClose from './EventNavigationClose.vue';
import EventNavigationHamburger from './EventNavigationHamburger.vue';

export default {
  components: {
    EventNavigationClose,
    EventNavigationHamburger,
  },
  props: {
    data: {
      required: true,
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      openMenu: false,
    };
  },
  computed: {
    containerStyle() {
      return this.openMenu
        ? 'position: absolute; transform: translateX(0);'
        : 'position: fixed; transform: translateX(100%);';
    },
  },
  methods: {
    toggleMobileNav() {
      this.openMenu = !this.openMenu;
    },
  },
};
</script>

<template>
  <div>
    <nav class="mobile-navigation">
      <NuxtLink
        to="/"
        class="logo"
        data-ga-name="home"
        data-ga-location="event nav"
      >
        <SlpIcon variant="marketing" name="gitlab" size="md" />
      </NuxtLink>
      <button class="menu-toggle" @click="toggleMobileNav">
        <EventNavigationHamburger v-if="!openMenu" />
        <EventNavigationClose v-else />
      </button>
    </nav>
    <div :style="containerStyle" class="menu">
      <ul class="links">
        <li v-for="link in data.links" :key="link.href">
          <a
            :href="link.href"
            :data-ga-name="link.data_ga_name"
            :data-ga-location="link.data_ga_location"
            @click="toggleMobileNav"
            ><span>{{ link.text }}</span>
            <SlpIcon name="chevron-lg-right" variant="product" hex-color="#000"
          /></a>
        </li>
      </ul>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.mobile-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  height: 50px;
}

.menu-toggle {
  border: none;
  cursor: pointer;
}

.menu {
  transition: 0.3s all ease;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  top: 55px;
  right: 0;
  padding: $spacing-16 $spacing-32;
  z-index: 90;
}

.links {
  text-align: left;
  display: flex;
  flex-direction: column;
  padding-top: $spacing-8;

  li {
    padding-top: $spacing-16;
    padding-bottom: $spacing-16;
    border-bottom: 1px solid $color-surface-300;
  }

  li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $font-size-default;
    line-height: $line-height-default;
    color: $color-text-300;
    font-size: 20px;
    line-height: 24px;
  }
}
</style>
