<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { CTA as CallToAction, Copy } from '../../components/common/index.vue';
import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  components: {
    Copy,
    CallToAction,
  },
  async asyncData({ $content, i18n }: any) {
    const locale = i18n.locale === i18n.defaultLocale ? '' : i18n.locale;
    const doc = await $content(locale, `impressum/index`).fetch();
    return { doc };
  },
  nuxtI18n: {
    locales: ['de-de'],
  },
  head(): MetaInfo {
    return getPageMetadata(
      (this as any).doc,
      this.$route.path,
      this.$nuxtI18nHead({ addSeoAttributes: true }),
    );
  },
});
</script>

<template>
  <SlpContainer class="impressum">
    <component
      :is="component.name"
      v-for="component in doc.components"
      :key="component.name"
      :data="component.data"
    />
  </SlpContainer>
</template>

<style lang="scss" scoped>
/* Custom styles for this page only */
.impressum {
  margin-bottom: $spacing-96;
  .cta {
    margin-bottom: 0;
  }
}
</style>
